<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Edit Blog</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
    <h1> Edit Blog</h1>
    <form action="/blogs/<%= blog._id %>?_method=PUT" method="post" enctype="multipart/form-data">
        <label for="title">Title:</label>
        <input type="text" name="blog[title]" id="title" value="<%= blog.title %>">
        
        <label for="body">Content:</label>
        <textarea name="blog[body]" id="body" required><%= blog.body %></textarea>

        <label for="image">Image:</label>
        <input type="file" name="blog[image]" id="image">
        
        <button type="submit">Update Blog</button>
    </form>
    <a href="/blogs/<%= blog._id %>"> Cancel</a>
    </body>
</html>